<html>
<body>
    <h1>Welcome TO Affair Prediction</h1>

<form action="{{url_for('predict_datapoint')}}" method="POST">

       
<div class="form-group">
  <label for="occ_2">occ_2:</label>
  <select id="occ_2" name="occ_2">
    <option value="0">0</option>
    <option value="1">1</option>
  </select>
</div>
<div class="form-group">
    <label for="occ_3">occ_3:</label>
    <select id="occ_3" name="occ_3">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

  
<div class="form-group">
    <label for="occ_4">occ_4:</label>
    <select id="occ_4" name="occ_4">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>
<div class="form-group">
    <label for="occ_5">occ_5:</label>
    <select id="occ_5" name="occ_5">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>
    

<div class="form-group">
    <label for="occ_6">occ_6:</label>
    <select id="occ_6" name="occ_6">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="occ_husb_2">occ_husb_2:</label>
    <select id="occ_husb_2" name="occ_husb_2">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="occ_husb_3">occ_husb_3:</label>
    <select id="occ_husb_3" name="occ_husb_3">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="occ_husb_4">occ_husb_4:</label>
    <select id="occ_husb_4" name="occ_husb_4">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="occ_husb_5">occ_husb_5:</label>
    <select id="occ_husb_5" name="occ_husb_5">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="occ_husb_6">occ_husb_6:</label>
    <select id="occ_husb_6" name="occ_husb_6">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
</div>

<div class="form-group">
    <label for="rate_marriage">rate_marriage:</label>
    <select id="rate_marriage" name="rate_marriage">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      
    </select>
</div>






    <div class="form-group">
        <label for="yrs_married">yrs_married:</label>
        <input type="text" id="yrs_married" name="yrs_married" placeholder="(Any integer(22,27,30))">
        

    </div>
    <div class="form-group">
        <label for="children">children:</label>
        <input type="text" id="children" name="children" placeholder="(Any integer(0,1,2))">
        

    </div>

<div class="form-group">
    <label for="religiouse">religious:</label>
    <select id="religious" name="religious">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
   
      
    </select>
</div>

<div class="form-group">
    <label for="educ">educ:</label>
    <select id="educ" name="educ">
      <option value="9">9</option>
      <option value="12">12</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="20">20</option>
      
    </select>
</div>







      
      

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html