<h1>Welcome TO Affairs Prediction</h1>

<p>About the dataset</p>

<p>Variable name definitions: </p>

    <p>rate_marriage   : How rate marriage, 1 = very poor, 2 = poor, 3 = fair, 4 = good, 5 = very good </p>



    <p> yrs_married     : No. years married. Interval approximations. See original paper for detailed explanation.  </p>

    <p>     children        : No. children  </p>

    <p>    religious       : How relgious, 1 = not, 2 = mildly, 3 = fairly, 4 = strongly  </p>

    <p>educ            : Level of education, 9 = grade school, 12 = high school, 14 = some college, 16 = college graduate, 17 = some graduate school, 20 = advanced degree   </p>

    <p>  occupation      : occ_2 = farming, agriculture; semi-skilled,
        or unskilled worker; occ_3 = white-colloar; occ_4 = teacher
        counselor social worker, nurse; artist, writers;
        technician, skilled worker, occ_5 = managerial,
        administrative, business, occ_6 = professional with
        advanced degree </p>

    <p>SELECT 1 FOR YOUR OCCUPATION ELSE SELECT 0</p>

    <p>  occupation_husb : Husband's occupation. Same as occupation.</p>

    <h1>Use /predict for prediction</h1>



    


   
   
